.app 
{
width: 50%;
height: auto;
margin: auto;
margin-top: 5%;
padding: 20px;  
box-shadow:2px 3px 1px;
}

button 
{
  width: 200px;
  height: auto;
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
 
}